// Place all the styles related to the campaign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grey{
  border-radius: 10px;
  background: #808080;
  border-radius: 10px;
  width: 700px;
  margin: 0;
  padding-left:50px; padding-right:50px; padding-top:30px;
  padding-bottom:50px;
  font-style: oblique;
}
.navbar-default {
  background-color: #C0C0C0;
  color: #0F0202;
}

.field input{
  width: 50%;
  border-radius: 15px;
}

.story textarea{
  width: 50%;
  border-radius: 15px;
}

.great{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color:#eeeeee;
  border-radius: 25px;
  float:left;
  overflow: hidden;
  position: center;
  text-align: center;
}

.greaty{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 10px;
  background-color:#eeeeee;
  //  margin-left: 15%;
  //  margin-right: 15%;
  //  width: 70%;
  height: 1000px;
  border-radius: 25px;
}


div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}

.great .img {
  margin: 5px;
  padding: 5px;
  height: 150px;
  width: 80%;
//  overflow: hidden;
//  text-align: center;
}

.showy {
  width:96%;
  height:100%;
  overflow: hidden;
  background:#fff;
  padding:20px;
  box-shadow:0px 0px 2px 0px #808080;
  border-radius:2px;
  margin-top:20px;
  border: 1px solid #ffffff;
}

.right_tracker{

  height:auto;
  overflow: hidden;
  background:#eeeeee;
  margin-left: 7%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:7px;
}

.track_holder{

  height:auto;
  overflow: hidden;
  background:#ffffff;
  padding:20px;
  box-shadow:0px 0px 2px 0px #808080;
  border-radius:7px;
  margin-top:20px;
}

.left_tracker{
  height:auto;
//  border:1px solid red;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
  border-radius:7px;
}

.right_tracker .donate{
  width:auto;
  height:auto;
  overflow: hidden;
  background:#000;
  font-family: 'Myriad Pro Regular';
  color:#fff;
  font-size:40px;
  line-height:40px;
  text-align: center;
  padding:15px 0;
  border-radius:5px;
}

h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
