// Place all the styles related to the campaign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grey{
  border-radius: 10px;
  background: #808080;
  border-radius: 10px;
  width: 700px;
  margin: 0;
  padding-left:50px; padding-right:50px; padding-top:30px;
  padding-bottom:50px;
  font-style: oblique;
}
.navbar-default {
  background-color: #C0C0C0;
  color: #0F0202;
}

.field input{
  width: 50%;
  border-radius: 15px;
}

.story textarea{
  width: 50%;
  border-radius: 15px;
}

.great{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color:#eeeeee;
  border-radius: 25px;
  float:left;
  overflow: hidden;
  position: center;
  text-align: center;
}

.greaty{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 10px;
  background-color:#eeeeee;
  //  margin-left: 15%;
  //  margin-right: 15%;
  //  width: 70%;
  height: 1000px;
  border-radius: 25px;
}


div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}

.great .img {
  margin: 5px;
  padding: 5px;
  height: 150px;
  width: 80%;
  overflow: hidden;
  text-align: center;
}