// Place all the styles related to the campaign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grey{
  border-radius: 10px;
  background: #808080;
  border-radius: 10px;
  width: 700px;
  margin: 0;
  padding-left:50px; padding-right:50px; padding-top:30px;
  padding-bottom:50px;
}